<div class="form1-page">
  <h2 class="phone-ordering-heading"><b>PHONE ORDERING</b></h2>
  <div class="container">
    <h3 class="text-left">Store Detail</h3>
    <div class="form">
        <div class="std text-left">
            <h5>Province</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose the province</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
        <div class="std text-left">
            <h5>Region</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose the region</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
        <div class="std text-left">
            <h5>Store name</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose store name</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
    </div>
    <button type="button" class="btn btn-primary ml-auto"><span>Next</span> <i class="fas fa-arrow-right"></i></button>
  </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">