<div class="container">
    <h2><b>PHONE ORDERING</b></h2>
    <h3>Store Detail</h3>
    <div class="form">
        
        <div class="std">
            <h5>Province</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose the province</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
        <div class="std">
            <h5>Region</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose the region</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
        <div class="std">
            <h5>Store name</h5>
            <div class="input-group">
            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
              <option selected>Choose store name</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        
    </div>
    <button type="button" class="btn btn-primary">Next</button>
  </div>
