<div class="container">
    <h2><b>PHONE ORDERING</b></h2>
    <h3>Phone Detail</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Intex</td>
                <td>Date</td>
                <td>Province</td>
                <td>Region</td>
                <td>Store Name</td>
                <td>Model</td>
                <td>Amount</td>
                <td>Color</td> 
            </tr>
            
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary">Export</button>
</div>
